@inject IPlatformService platform

@if (platform.IsBrowser)
{
    <div class="card">
        <div class="card-header">
            <h5>Save Note</h5>
        </div>
        <div class="card-body">
            @ChildContent
        </div>
        <div class="card-footer d-flex justify-content-between">
            @ChildFooterContent
        </div>
    </div>
}

else
{
    <div class="mobile-save-note-form-card">
        @ChildContent
        @ChildFooterContent
    </div>
}

@code {
    [Parameter]
    public RenderFragment ChildContent{ get; set; }

    [Parameter]
    public RenderFragment ChildFooterContent { get; set; }
}
