@inherits LayoutComponentBase

<div>
    @Body
</div>

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
